<!-- Grid de equipos -->
<div
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-6 min-h-[700px]"
>
  @for (team of teams(); track team.id) {
  <app-team-card [team]="team" />
  }
</div>

<!-- Navegación de paginación -->
<div
  class="flex items-center justify-center gap-6 p-6 ml-6 mr-6 bg-white dark:bg-gray-800 rounded-xl shadow-md"
>
  <button
    (click)="prevTeams()"
    [disabled]="currentPage() === 0"
    class="px-6 py-2 rounded-lg bg-custom-dark text-white font-semibold transition hover:bg-custom-dark/50 hover:scale-105 disabled:opacity-50 disabled:cursor-not-allowed cursor-pointer"
  >
    ◀️
  </button>

  <p class="text-gray-800 dark:text-white font-medium text-base text-center">
    Page {{ currentPage() + 1 }}
  </p>

  <button
    (click)="nextTeams()"
    class="px-6 py-2 rounded-lg bg-custom-dark text-white font-semibold transition hover:bg-custom-dark/50 hover:scale-105 disabled:opacity-50 disabled:cursor-not-allowed cursor-pointer"
  >
    ▶️
  </button>
</div>
