<nav class="w-full flex items-center justify-between px-4 py-3 shadow">
  <h1 class="text-xl font-bold tracking-wide">⚽ Goal Sight</h1>

  <div class="flex gap-4 items-center">
    <a routerLink="/competitions" class="cursor-pointer">Competitions</a>
    <a routerLink="/teams" class="cursor-pointer">Teams</a>
    <button class="ml-4 cursor-pointer" (click)="themeService.toggleTheme()">
      <span class="hidden dark:inline-block text-2xl">🌙</span>
      <span class="inline-block dark:hidden text-2xl">☀️</span>
    </button>
  </div>
</nav>
