<div
  class="max-w-5xl mx-auto bg-white dark:bg-gray-800 shadow-lg rounded-xl p-6 space-y-6 transition-colors duration-700"
>
  <div class="flex items-center gap-4">
    <img
      [src]="competition()?.emblem"
      [alt]="competition()?.name"
      class="w-32 h-32 object-contain"
    />
    <h1
      class="text-2xl font-bold text-gray-800 dark:text-white transition-colors duration-700"
    >
      {{ competition()?.name }}
    </h1>
  </div>

  <div
    class="text-sm text-gray-600 dark:text-gray-300 space-y-1 transition-colors duration-700"
  >
    <p>
      <span class="font-semibold">From: </span
      ><time [dateTime]="season()?.startDate">{{
        season()?.startDate | date
      }}</time>
    </p>
    <p>
      <span class="font-semibold">To: </span
      ><time [dateTime]="season()?.endDate">{{
        season()?.endDate | date
      }}</time>
    </p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-8">
    <!-- Partidos -->
    <app-competition-matches
      [matches]="matches()"
      [currentMatchday]="season()?.currentMatchday ?? 1"
      [stages]="stageMatchdayPairs()"
    />

    <!-- Posiciones -->
    <app-positions-table [standings]="standings()" />
  </div>
</div>
