/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --color-custom-dark: #1e1e2f;
  --color-custom-light: #f5f5f5;
  --color-custom-card: #282c34;
  --color-custom-primary: #00bfff;
  --color-custom-accent: #ffce00;
  --color-custom-danger: #ff3e3e;
  --color-custom-success: #1db954;
}
